---
layout: default
title: Tags
permalink: /tags/
---
{% assign rawtags = "" %}
{% for post in site.posts %}
	{% assign ptags = post.tags | join:'|' | append:'|' | downcase %}
	{% assign rawtags = rawtags | append:ptags %}
{% endfor %}
{% assign rawtags = rawtags | split:'|' | sort %}


{% assign tags = "" %}
{% for tag in rawtags %}
	{% if tag != "" %}
		{% if tags == "" %}
			{% assign tags = tag %}
		{% endif %}
		{% unless tags contains tag %}
			{% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
		{% endunless %}
	{% endif %}
{% endfor %}

<h3>Tags</h3>

{% for tag in tags %}
	<h4 id="{{ tag | slugify }}">- {{ tag }}</h4>
	<ul>
		{% for post in site.tags.[tag] %}
		<li>
				{{post.date | date_to_long_string}}
			<a href="{{post.url}}">{{post.title}}</a>
		</li>
		{% endfor %}
	</ul>
{% endfor %}
