article {
  background: #fff;
  display: block;
  margin-bottom: 15px;
  width: 350px;
  height: 450px;
  padding: 10px;
  margin-right: 20px;
  overflow: hidden;
  box-shadow:  0 1px 5px 0 rgba(0, 0, 0, 0.24);

  &:nth-child(2) {
    height: 250px;
    margin-bottom: -200px;
  }
}
