.nav {
  font-family: 'Roboto Condensed', serif;

  margin-left: 20%;
  list-style: none;
  align-self: flex-end;
  //text-transform: uppercase;
  //font-weight: 600;
  font-size: 1.2rem;
  color: #2980b9;
  //text-align: left;

  ul {
    margin-bottom: 0;
  }
  li {
    display: inline-block;
    margin-right: 20px;


    &:last-child {
      margin-right: 0;
    }

    a {
      opacity: 0.5;
    }
    a.active {
      opacity: 1;
      border-bottom: #2980b9 3px solid;
    }
  }
}
