.pagination {
  display: block;
  margin: 30px auto;

  .active-page {
    font-family: "Roboto Condensed", serif;
    font-weight: 600;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fff;
    color: #2ecc71;
    font-size: 120%;
      
  }

  a {
    font-family: "Roboto Condensed", serif;
    font-weight: 600;
    color: #7f8c8d;
    margin: 0 5px 0 5px;
  }

  
}