* {
  transition: all 0.3s;
}

html, body {
  height: 100%; //это для footer размещенного всегда внизу страницы
  // min-height: 1200px;
}

.push-footer {
  // height: auto;
  min-height: 100%;
}

a {
  text-decoration: none;
  color: $text-color-anchor;
  text-shadow: 2px 2px 4px rgba(0,0,0,.8);
}
a:hover {
  text-shadow: 2px 2px 3px rgba(0,0,0,.4);
  color: $text-color-anchor-hover;
}

.disqus-comment-count {

  text-shadow: 0 1px 0 rgba(0,0,0,.5);
  margin-left: 1rem;
  margin-bottom: 1.5rem;
  // font-weight: 700;
  // text-transform: uppercase;
  background-color: $background-color-header;
  background-image: linear-gradient(to bottom, rgb(114, 126, 131) 0%, $background-color-header 100%);
  border-radius: 2rem 2rem 0 2rem;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.3);
  display: inline-block;
  // margin-left: -30px;
  padding: .5rem 1rem;
  // position: relative;
}
