@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Roboto&subset=latin,cyrillic);



$font-family: "Open Sans", Arial, sans-serif;
$font-family-header: "Roboto Slab", Arial, sans-serif;
$font-family-headings: "Roboto Slab", Arial, sans-serif;
$font-family-code: "Ubuntu Mono", monospace;


$background-color-header: rgb(69, 89, 92);
$background-color-main: rgb(80, 70, 70);
$background-color-article: rgb(88, 80, 80);
$background-color-selected: rgb(57, 50, 50);
$background-color-quote: rgb(101, 89, 89);

$text-color: rgb(229, 252, 194);
$text-color-anchor: rgb(69, 173, 168);
$text-color-anchor-hover: rgb(93, 251, 222);
$text-color-active: rgb(167, 208, 106);
