@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Jura:600&subset=latin,cyrillic);

$font-family: "Roboto", Arial, sans-serif;
$header-bg: rgb(69, 89, 92);
$main-bg: rgb(80, 70, 70);
$article-bg: rgb(88, 80, 80);
$active-bg: rgb(57, 50, 50);
$font-color: rgb(229, 252, 194);
$btn-bg: rgb(69, 173, 168);
$ctrl-bg: rgb(157, 224, 173);
$active-font: rgb(167, 208, 106);
