/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
62.5% = 10px  */
html {
  font-size: 56.25%;  
}
body {
  background: $brown;
  font-size: 1.7em; /* currently ems cause chrome bug misinterpreting rems on body element */
  border-top: 5px solid $green;
  line-height: 1.6;
  font-weight: 400;
  font-family: $font-family;
  color: $cream;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}
