<!DOCTYPE html>
<html lang="ru">

{% include head.html %}

<body>

  <div class="header">
    <a href="/" class="logo"></a>
    <a href="/" class="logotext">Kiviok</a>
    <div class="menu">
      {% include nav.html %}
    </div>
  </div>

  <div class="main">
    <div class="content">
      {{content}}
    </div>
    <div class="aside">

    </div>

  </div>

  {% include footer.html %}

  <!-- <script id="dsq-count-scr" src="//kiviok.disqus.com/count.js" async>
  // DISQUSWIDGETS.getCount({reset: true});
</script> -->

</body>
</html>
