<!DOCTYPE html>
<html lang="ru">

{% include head.html %}

<body>

<header>
    <div class="flex-wrap">
        <h1 ><a class="logo"href="/">Kiviok</a></h1>

        <div class="nav">
            {% include nav.html %}
        </div>
    </div>


</header>

<main class="container">
    <div class="content">
        {{content}}
    </div>
    <div class="aside">

    </div>
</main>

{% include pagination.html %}

{% include footer.html %}

<!-- <script id="dsq-count-scr" src="//kiviok.disqus.com/count.js" async>
// DISQUSWIDGETS.getCount({reset: true});
</script> -->

</body>
</html>
