@import url(https://fonts.googleapis.com/css?family=Roboto+Slab&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Roboto&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono&subset=latin,cyrillic);

$font-family: Roboto, Arial, sans-serif;
$font-family-header: "Roboto Slab", Arial, sans-serif;
$font-family-headings: "Roboto Slab", Arial, sans-serif;
$font-family-code: "Roboto Mono", monospace;
