$brown: rgb(80, 70, 70);
$lighter-brown: rgb(88, 80, 80);
$dark-brown: rgb(57, 50, 50);

$cream: rgb(229, 252, 194);
$green: rgb(167, 208, 106);
$aqua: rgb(93, 251, 222);
$dark-cyan:rgb(69, 173, 168);
